@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Roboto");
}

body
{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #f6f7fc;

    display: flex;
}

.form-container
{
    width: 33vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-id
{
    width: 15vw;
}

.form-input
{
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
    line-height: 1.5;
}

.form-input:focus
{
    outline: none;
}

.form-submit
{
    font-family: "Roboto", sans-serif;
    background-color: #eb6304;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.form-submit:hover
{
    background-color: #cf5a06;
}

.fetch-container
{
    width: 66vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fetch-form
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fetch-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fetch-block
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 20px;
}

.fetch-input
{
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
    line-height: 1.5;
}

.fetch-input:focus
{
    outline: none;
}

.fetch-input::-webkit-outer-spin-button,.fetch-input::-webkit-inner-spin-button,.fetch-input[type=number]
{
    appearance: none;
}