<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Admin TESTOP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
</head>

<body>
    <div class="form-container">
        <h1>Récupérer un formulaire</h1>
        <form class="form-id" method="POST" action="{{url_for('fetch_admin')}}">
            <div>
                <input class="form-input" id="fname" name="id" type="text" size="5" placeholder="##" required>
            </div>

            <input class="form-submit" id="submit" type="submit" value="Valider">
        </form>
    </div>

    <div class="fetch-container">
        <form class="fetch-form">
            <div class="fetch-row">
                <div class="fetch-block" id="fetch-fname">
                    <label>Prénom</label>
                    <input class="fetch-input" value="{{data[0]}}" type="text" readonly>
                </div>
                <div class="fetch-block" id="fetch-lname">
                    <label>Nom</label>
                    <input class="fetch-input" value="{{data[1]}}" type="text" readonly>
                </div>
            </div>
            <div class="fetch-row">
                <div class="fetch-block" id="fetch-birthdate">
                    <label id="label-birthdate">Date de naissance</label>
                    <input class="fetch-input" value="{{data[2]}}" type="text" readonly>
                </div>
                <div class="fetch-block" id="fetch-birthplace">
                    <label>Lieu de naissance</label>
                    <input class="fetch-input" value="{{data[3]}}" type="text" readonly>
                </div>
            </div>


            <div class="fetch-row">
                <div class="fetch-block" id="fetch-degreelvl">
                    <label>Diplôme</label>
                    <input class="fetch-input" value="{{data[4]}}" type="text" readonly>
                </div>
                <div class="fetch-block" id="fetch-mailaddress">
                    <label id="label-mail">Adresse mail</label>
                    <input class="fetch-input" value="{{data[5]}}" type="text" readonly>
                </div>
            </div>

            <div class="fetch-row">
                <div class="fetch-block" id="fetch-address">
                    <label>Adresse</label>
                    <input class="fetch-input" value="{{data[6]}}" type="text" readonly>
                </div>
            </div>

            <div class="fetch-row">
                <div class="fetch-block" id="fetch-socsecnumber">
                    <label id="label-ssn">Sécurité sociale</label>
                    <input class="fetch-input" value="{{data[7]}}" type="text" readonly>
                </div>
                <div class="fetch-block" id="fetch-phonenumber">
                    <label id="label-phonenb">Téléphone</label>
                    <input class="fetch-input" value="{{data[8]}}" type="text" readonly>
                </div>
            </div>
        </form>
    </div>
</body>

</html>